.DS_Store
node_modules
python/.DS_Store
python/python-geometrical-visualizations/Lissajous Curves/.DS_Store
python/python-geometrical-visualizations/.DS_Store
python/python-geometrical-visualizations/Circumcenter-Theorem/.DS_Store
Tableau Visualizations/.DS_Store
Tableau Visualizations/Program-Optimization/.DS_Store
.git/.DS_Store
.git/logs/.DS_Store
.git/logs/refs/.DS_Store
.git/logs/refs/remotes/.DS_Store